name: Java FX Hello World

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - "**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del repositorio
        uses: actions/checkout@v4

      - name: Instalar Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Descargar / Instalar dependencias
        run: |
          wget https://download2.gluonhq.com/openjfx/21.0.10/openjfx-21.0.10_linux-x64_bin-sdk.zip
          unzip openjfx-21.0.10_linux-x64_bin-sdk.zip
          mkdir -p build
          javac --module-path javafx-sdk-21.0.10/lib --add-modules javafx.controls -d build javafx-hello-todo/src/dam/optativa/HelloWorldFx.java
          jar --create --file=build/HelloWorldFx.jar --manifest=javafx-hello-todo/manifest/MANIFEST.MF -C build .

      - name: Ejecutar tests con Gradle
        run: ./gradlew test
